# Mine
*.code-workspace
.vscode
notes.txt

#
.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
#env*  # Intentionally allow an env_file to check in for sake of grading!  Don't do in production.
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
__pycache__

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

# Direnv
.envrc
.direnv
