# Mine
*.code-workspace
.vscode
# notes.txt # Adding my personal notes in case it may help someone else.

#
.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
# Take this back out after grading.  Don't check in env_files
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
__pycache__

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

# Direnv
.envrc
.direnv
